# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

# name: Deploy ASP.NET Core web api to Azure

# on: [push]

# env:
#   AZURE_WEBAPP_NAME: PokemonReview # set this to your application's name
#   AZURE_WEBAPP_PACKAGE_PATH: "./publised" # set this to the path to your web app project, defaults to the repository root
#   DOTNET_VERSION: "6" # set this to the dot net version to use
#   AZURE_WEBAPP_PUBLISH_PROFILE: <publishData><publishProfile profileName="PokemonReview - Web Deploy" publishMethod="MSDeploy" publishUrl="pokemonreview.scm.azurewebsites.net:443" msdeploySite="PokemonReview" userName="$PokemonReview" userPWD="vCqtKcpxqLa95NfmQkFChTGNirsmB1E0MBaWWRBqdcs99JsTwf39FwwrZJqE" destinationAppUrl="https://pokemonreview.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="PokemonReview - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-blu-397.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="PokemonReview\$PokemonReview" userPWD="vCqtKcpxqLa95NfmQkFChTGNirsmB1E0MBaWWRBqdcs99JsTwf39FwwrZJqE" destinationAppUrl="https://pokemonreview.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="PokemonReview - Zip Deploy" publishMethod="ZipDeploy" publishUrl="pokemonreview.scm.azurewebsites.net:443" userName="$PokemonReview" userPWD="vCqtKcpxqLa95NfmQkFChTGNirsmB1E0MBaWWRBqdcs99JsTwf39FwwrZJqE" destinationAppUrl="https://pokemonreview.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       # Checkout the repo
#       - uses: actions/checkout@main

#       # Setup .NET Core SDK
#       - name: Setup .NET Core
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: ${{ env.DOTNET_VERSION }}

#       # Run dotnet build and publish
#       - name: dotnet build and publish
#         run: |
#           dotnet restore
#           dotnet build --configuration Release
#           dotnet publish

#       # Deploy to Azure Web apps
#       - name: "Run Azure webapp deploy action using publish profile credentials"
#         uses: azure/webapps-deploy@v2
#         with:
#           app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
#           publish-profile: ${{ env.AZURE_WEBAPP_PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
#           package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Build and deploy ASP.Net Core app to an Azure Web App

env:
  AZURE_WEBAPP_NAME: PokemonReview # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: "." # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: "7" # set this to the .NET Core version to use

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Set up dependency caching for faster builds
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Build with dotnet
        run: dotnet build pokemon-review --configuration Release

      - name: dotnet publish
        run: dotnet publish pokemon-review -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "production"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
# 85270a1854658d167ab239bce43949edb336fa7c
