# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Deploy ASP.NET Core web api to Azure

# on:
#   push:
#     branches: ["main"]

# env:
#   AZURE_WEBAPP_NAME: goparent-web-api # set this to your application's name
#   AZURE_WEBAPP_PACKAGE_PATH: "." # set this to the path to your web app project, defaults to the repository root

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v3
#       - name: Setup .NET
#         uses: actions/setup-dotnet@v3
#         with:
#           dotnet-version: 7.0.x # The app is running of version 3 of dotnet
#       - name: Restore dependencies
#         run: dotnet restore
#       - name: Build
#         run: dotnet build --configuration Release --no-restore
#       - name: Publish
#         run:
#           dotnet publish ../pokemonReview/pokemon-review.csproj -c Release -o website

#           # Run dotnet build and publish
#       - name: dotnet build and publish
#         run: |
#           dotnet restore
#           dotnet build --configuration Release
#           dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'

#       - name: Deployment
#         uses: azure/webapps-deploy@v2
#         with:
#           app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
#           publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }} # Define secret variable in repository settings as per action documentation
#           package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"

on: [push]

env:
  AZURE_WEBAPP_NAME: goparent-web-api # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: "." # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: "7.0.x" # set this to the dot net version to use
  AZURE_WEBAPP_PUBLISH_PROFILE: <publishData><publishProfile profileName="goparent-web-api - Web Deploy" publishMethod="MSDeploy" publishUrl="goparent-web-api.scm.azurewebsites.net:443" msdeploySite="goparent-web-api" userName="$goparent-web-api" userPWD="vgasomHPcgao17erS5GDLyS2oroc4Q4BxBp1tL8LLHMH3dhqYpiTtweSWkCB" destinationAppUrl="https://goparent-web-api.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="goparent-web-api - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-am2-729.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="goparent-web-api\$goparent-web-api" userPWD="vgasomHPcgao17erS5GDLyS2oroc4Q4BxBp1tL8LLHMH3dhqYpiTtweSWkCB" destinationAppUrl="https://goparent-web-api.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="goparent-web-api - Zip Deploy" publishMethod="ZipDeploy" publishUrl="goparent-web-api.scm.azurewebsites.net:443" userName="$goparent-web-api" userPWD="vgasomHPcgao17erS5GDLyS2oroc4Q4BxBp1tL8LLHMH3dhqYpiTtweSWkCB" destinationAppUrl="https://goparent-web-api.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - uses: actions/checkout@main

      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Run dotnet build and publish
      - name: dotnet build and publish
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet publish

      # Deploy to Azure Web apps
      - name: "Run Azure webapp deploy action using publish profile credentials"
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"
